@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Madimi+One&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Reddit+Mono:wght@200..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Madimi+One&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Reddit+Mono:wght@200..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body{
    background: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 30px;
}
.header{
    color: white;
    position: relative;
    top: 80px;
    font-size: 50px;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
    text-shadow: 2px 2px 1px black;
}
.icon{
    position: relative;
    top: 10px;
    left: 10px;
}
.thin-line {
    border-bottom: 1px solid white; /* Creates a thin line at the bottom */
    margin-top: 90px;
}
.music-container{
    padding-top: 20px;
    display: inline-block;
    
}

.music-container img {
    transition: transform 0.3s ease-in-out;
}

.music-container img:hover {
    transform: scale(1.1); /* You can adjust the scale factor as needed */
}
.green-day{
    border-radius: 10px;
 
}

.vaundy{
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
}
.radiohead{
    border-radius: 20px;
}
ul{
    display: inline-block;
}
.song-container{
    color: white;
    font-size: 25px;
    text-shadow: 2px 2px 1px black;
}
.btn{
    margin: 0;
    position: relative;
    left: 100px;
    font-size: 40px;
    text-shadow: 2px 2px 5px black;
    width: 200px;
    border-radius: 20px;
    border: none;
    outline: none;
    background: #2ecc71;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin-top: 10px;   
}
.btn:hover{
    opacity: .7;
}
.btn-green{
    margin: 0;
    position: relative;
    left: 300px;
    font-size: 40px;
    text-shadow: 2px 2px 5px black;
    width: 200px;
    border-radius: 20px;
    border: none;
    outline: none;
    background: #2ecc71;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin-top: 10px;   
}
.btn-green:hover{
    opacity: .7;
}
.song-container2{
    color: white;
    font-size: 25px;
    position: relative;
    left: 30px;
    text-shadow: 2px 2px 1px black;
}
.song-container3{
    position: relative;
    left: 310px;
    color: white;
    font-size: 25px;
    text-shadow: 2px 2px 1px black;
}

.color-container{
    color: #f39c12;
    display: inline-block;
}
.color-container2{
    color:#e74c3c;
    display: inline-block;
}
.color-container3{
    color: rgb(157, 170, 38);
    display: inline-block;
}

/* Container 2*/
.laufey{
    border-radius: 10px;
}
.laufey-color{
    display: inline-block;
}
.aimer{
    height: 500px;
    border-radius: 10px;
}
.aimer-color{
    display: inline-block;
}
.song-container-aimer{
    color: white;
    font-size: 25px;
    position: relative;
    left: 200px;
    text-shadow: 2px 2px 1px black;
}
.btn-aimer{
    margin: 0;
    position: relative;
    left: 280px;
    font-size: 40px;
    text-shadow: 2px 2px 5px black;
    width: 200px;
    border-radius: 20px;
    border: none;
    outline: none;
    background: #2ecc71;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin-top: 10px;   
}
.btn-aimer:hover{
    opacity: .7;
}
.song-container-symposium{
    position: relative;
    left: 460px;
    color: white;
    font-size: 25px;
    text-shadow: 2px 2px 1px black;
}
.symposium{
    display: inline-block;
}
.btn-symposium{
    margin: 0;
    position: relative;
    left: 490px;
    font-size: 40px;
    text-shadow: 2px 2px 5px black;
    width: 200px;
    border-radius: 20px;
    border: none;
    outline: none;
    background: #2ecc71;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin-top: 10px;   
}
.btn-symposium:hover{
    opacity: .7;
}
/* Container 3*/

.song-container-deftone{
    color: white;
    font-size: 25px;
    position: relative;
    left: 200px;
    text-shadow: 2px 2px 1px black;
}
.song-container-atarashi{
    color: white;
    font-size: 25px;
    position: relative;
    left: 60px;
    text-shadow: 2px 2px 1px black;
}
.btn-atarashi{
    margin: 0;
    position: relative;
    left: 130px;
    font-size: 40px;
    text-shadow: 2px 2px 5px black;
    width: 200px;
    border-radius: 20px;
    border: none;
    outline: none;
    background: #2ecc71;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin-top: 10px;   
}
.btn-atarashi:hover{
    opacity: .7;
}
.btn-deftone{
    margin: 0;
    position: relative;
    left: 230px;
    font-size: 40px;
    text-shadow: 2px 2px 5px black;
    width: 200px;
    border-radius: 20px;
    border: none;
    outline: none;
    background: #2ecc71;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin-top: 10px;   
}
.btn-deftone:hover{
    opacity: .7;
}